{% extends 'layout.html.twig' %}
{% block title %}Bem vindo uma breve batalha de RPG {% endblock %}
{% block body %}
    <div class="loader-wrapper">
        <div id="loader-image"></div>
    </div>
    <!-- **Wrapper** -->
    <div class="wrapper">
        <div class="inner-wrapper">

            <!-- **Main - Starts** -->
            <div id="main">
                <div class="blank-template-container">
                    <div class="blank-template">
                        <div class="blank-template-wrapper">
                            <div class="container">
                                <!-- Primary Starts -->
                                <section id="primary" class="content-full-width text-center">
                                    <img src="https://icdn2.digitaltrends.com/image/digitaltrends/shadow-of-mordor-image-12.jpg" style="width:400px;">
                                    <h2 class="aligncenter">Bem vindo uma breve batalha de RPG </h2>

                                    <h3 class="aligncenter">
                                        <a href="/game" class="btn btn-success" > Iniciar batalha</a>
                                    </h3>

                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- **Main - Ends** -->

        </div><!-- **inner-wrapper - End** -->

    </div><!-- **Wrapper - End** -->
{% endblock %}
